**/node_modules/
**/dist/
**/build/
**/coverage/
**/.next/
**/.react-router/
**/playwright-report/
**/test-results/
**/.vscode/
**/.env
**/.env.*
!**/.env.example
**/.data/
**/.local/
.release/
**/*.tsbuildinfo
*.log
.DS_Store
Thumbs.db
